.list-and-display-container{
display:flex;
width: 100% 
}
.list-container{
    width:30%;
    min-width: 200px;
    float: left;
}
.email-display{
    width: 50%;
    min-width: 250px;
    float: left;
    background: linear-gradient(to right,rgb(143, 138, 138) , rgb(134, 139, 143));
    }
