/* Homepage CSS */

.upper-nav {
    background: rgb(251, 232, 232);
    text-align: center;
    text-decoration: none;
    font-family: var(--font-family-subtitle);
    font-size: var(--font-size-subtitle);
    display: flex;
    justify-content: space-around;
    color: rgb(82, 29, 29);
}

.homepage-main {
    display: flex;
}

.homepag-items {
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
}

.app-title {
    text-align: center;
    font-size: 50px;
    font-family: var(--font-family-title); 
}

.app-desc {
    text-align: center;
    font-family: var(--font-family-text);       
}

.app-sec-desc {
    text-align: center;
    font-family: var(--font-family-text);
}

.main-title{
    font-family: var(--font-family-title); 
    font-size: var(--font-size-title);
    text-align: center;    
}

footer {
    text-align: center;
    font-family: var(--font-family-subtitle);
    font-size: var(--font-size-subtitle);
    background: rgb(128, 121, 121);    
    margin-top: 10px;
}


